<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Home</title>
</head> -->
<%- include('nav')%>
    <!-- <%- include('../common/head') %> -->

    <body>
        <!-- <header>
        <%- include('../common/header')%>
    </header>
    <h1 class="text-green-500 p-3">
        this is home page
    </h1>
    <footer>
        <%- include('../common/footer')%>
    </footer> -->
        <div>
            <h1>
                Welcome to Dear Sija Block manufacturing ltd.
            </h1>
            <p>
            <div>
                Dear Sija is a privately-owned organization with over
                a decade of experience in delivering quality services to the
                market.We have a diversified range of construction materials
                given our core strenghtof owning and operating our own quarries.
            </div>
            <div>
                The visionary leadership along with dedicated workers who understands the markets
                and client requirements have helped Dear Sija to grow exponentially from the time of
                its establishment in 1986.
            </div>
            <div>
                <a href="/about">
                    <button type="button">Read More</button>
                </a>
            </div>
            <div>
                <img src="" alt="">
            </div>
            </p>
        </div>
        <div>
            <div>
                <h1>Why Choose us</h1>
                <span>
                    We set highest importance on quality. We source our products from the reputed 
                    suppliers
                </span>
            </div>
        </div>
        <%- include('../common/footer')%>
    </body>

    </html>